.DodajRacun {
    width: 100%;
    height: 500px;

    &__izracun {
        visibility: hidden;
    }

    &--col {
        width: 50%;
        margin: auto;
    }
}

input {
    width: 250px;
    height: 30px;
    margin-bottom: 10px;

    &--RB {
        display: inline;
        font-size: small;
    }
}

.RadioButton {
    width: 15px;
    height: 15px;
    margin: 5;
}

.left {
    float: left;
}

.right {
    float: right;
}

.react-calendar {
    background-color: silver;
    margin: 10px;
    border: 1px solid black;

    &__navigation {

        &__arrow {
            width: 25px;
        }
    }

    &__tile {
        width: 30px;
    }

    &__month-view__weekdays {
        display: none;
    }

    button {
        margin: 2px;
        border: none;
    }
}