.Lista {
    margin: auto;
    margin-top: 10px;
    border: 1px solid;

    &--btn {
        width: 50px;
    }

    &__link {
        color: black;
        border: none;
        cursor: pointer;
    }

    &__opis {
        margin-top: 15px;
        margin-bottom: 15px;

        label {
            font-weight: bold;
        }
    }
}

th {
    width: 150px;
}

tr {
    height: 50px;
}

th {
    background-color: rgb(177, 228, 211);
}

tr,
th,
td {
    border: 1px solid;
}

.sort {
    background-color: transparent;
    border: none;
    padding: 5px 10px;
    margin: 0;
    line-height: 1;
    font-size: 15px;
    color: black;
    cursor: pointer;
    transition: transform 0.05s ease-out;
}

.reverse {
    transform: rotate(180deg);
}
